//*********************************
// Champ de recherche de la ville
//*********************************
/* Début index*/
.banner {
    background-color: $grey-place-bkgd;
    box-shadow: inset 0px 3px 3px $grey-place-shdw;
    &__place {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 171px;
        margin: 0px auto;
        padding: 18px 0px;
    }
    &__icon {
        margin-bottom: 4px;
        margin-right: 13px;
        color: $footer;
    }
    &__city {
        font-weight: 500;
    }
}

#search{
    color: $footer;  
    background-color: $grey-place-bkgd;
    border: solid $grey-place-bkgd 0px;
    border-radius: 20px;
    font-size: 1rem;  
    font-weight: 500;
}
input:focus{
    outline: none;
    border-radius: 20px;
    background-color: $grey-bkgd;
}
input::placeholder {
    outline: none;
    border-radius: 20px;
    background-color: $grey-place-bkgd;
}
::-webkit-input-placeholder{     /* WebKit, Blink, Edge */
    color: $footer;
    opacity: 1;
    border-radius: 20px;
    padding-left: 4px;
    background-color: $grey-bkgd;
}
::-moz-placeholder{    /* Mozilla */
    color: $footer;
    opacity: 1;
    border-radius: 20px;
    background-color: $grey-place-bkgd;
}



//*********************************
// Section Présentation
//*********************************

.presentation {    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    margin-bottom: 0px;
    background-color: $grey-bkgd;
    &__title { 
        @include mobile-only {
            padding: 0px 70px;
        }
    }
    &__paragraph {  
        margin: -6px auto -4px;      
        font-weight: 300;
        @include mobile-only {
            padding: 0px 20px;
        }
    }
}
// Positionnement du bouton .gradient "Explorer nos restaurants"
.gradient {
    margin: 40px auto;
    width: 185px;
}



//*********************************
// Section Fonctionnement
//*********************************

.functioning {
    margin: 50px 0px 35px;
    padding: 0px 24px;
    &__threebuttons {
        display: flex;
        justify-content: space-between;
        // Tablette : passage en mode colonne des 3 items de description du fonctionnement
        @include tablette {
            flex-direction: column;
        }
    }
    &__title {        
        text-align: center;
        margin-bottom: 30px;
        // Mobile : le titres h2 passent de la justification centrée à la justification à gauche
        @include mobile-only {
            text-align: start;
        }
    }
    &__round{
        position: relative;
        left: -12px;
        font-size: 90%;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        text-align: center;
        line-height: 25px;
        color: $white;
        background-color: $primary;
        margin-right: 15px;
    }
    &__icon {
        width: 40px;
        color: $grey-icon;
    }
}



//*********************************
// Section Restaurant
//*********************************
.list-menus {
    background-color: $grey-bkgd;
    padding: 30px 24px 40px;
    &__title {
        text-align: center;
        @include mobile-only {
            text-align: start;
        }
    }
    &__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
    }
}
 
.menu {
    // Desktop : cards sur 1 ligne
    flex: 24%;
    max-width: 24%;
    // Tablette : cards sur 2 lignes
    @include tablette {
        text-align: start;
        flex-direction: row;
        flex: 49%;
        max-width: 49%;
    }
    // Mobile : cards sur 4 lignes
    @include mobile-only {
        min-width: 100%;
    }  
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px $grey-place-bkgd;
    overflow: hidden;
    //Animation du texte au survol
    &__flyover:hover {
        .menu__text {
            transform: scale(1.04);
        }
    }
    &__image {
        position: relative;
        height: 170px;
        overflow: hidden;
        img {    
            position: absolute;
            bottom: 0px;           
            max-width: 115%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: center;
        padding: 6px 12px;
        border-radius: 3px;
        background-color: $tertiary;
        color: dark($tertiary);
    } 
    &__text-heart {
        display: flex;
        justify-content: space-between;
        padding: 16px 30px 16px 10px;
        background: $white;
    }
    &__text {
        transform: scale(1); 
        transform-origin: left; 
        transition: transform ease-in-out 300ms; 
    }
    &__title {
        margin: 0px auto; 
        font-weight: bolder;   
    }
    &__paragraph {
        font-weight: 400;
        margin: 2px auto 0px;
    }     
    //Etiquettes nouveau seulement sur les 2 premiers restaurants
    &:nth-child(n+3):nth-child(-n+4) .menu__new{
        display: none;
    }
}


