//*********************************
// Organisation de la page 
//*********************************

.page {
    display: flex;
    flex-direction: column;
    &__image {
        z-index: -1;
        margin-bottom: -50px;
        overflow: hidden;
        height: 250px;
        & img{
            max-width: 105%;
            transform: translateY(-40%);
            @include mobile-only {
                transform: translateY(0%);
                object-fit: cover;
                width: auto;
            }
            @media screen and (max-width: 352px) {
                height: 250px;
                width: 100%;
            }
        }
    }
    
    &__restaurant {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        z-index: 3;
        border-radius: 50px 50px 0px 0px;
        background-color: $grey-bkgd;
    }
    // Section menu : Entrées - Plats - Desserts
    &__elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        padding: 0px 20px;
        
        @include tablette {
            flex-wrap: wrap;
        }
        @include mobile-only {
            flex-direction: column;
        }
    }
    // Positionnement du bouton .gradient "Commandez" 
    &__button {
        text-align: center;
        margin: -10px auto 20px;
    }
}
// Nom du restaurant et bouton .heart
.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 48px 0px 20px;
    &__title {
        flex-grow: 0;
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
        font-size: clamp(1rem, 7vw, 1.65rem);
        margin: 0px;
    }  
}
// Entrées Plats Desserts
.type {
    display: flex;
    flex-direction: column;
    flex: 32%;
    max-width: 32%;
    margin: 10px 0px 0px 0px;
    @include tablette {
        flex: 49%;
        max-width: 49%;
    }
    @include mobile-only {
        flex: 100%;
        max-width: 100%;
    }
    &__title {
        font-size: 120%;
        font-weight: 300;
        border-bottom: $tertiary solid 3px;
        width: 48px;
    }
}
// Animation de l'cône check pour matérialiser la validation de l'utilisateur
@keyframes animation-choice {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    
    80% {
        transform: translateY(0px);
    }   

    100% {
        opacity: 1;
    }   
}
// Configuration d'un item
.choice {
    cursor: pointer;
    // <div class="choice__load choice__load--$i">
    // Boucle de l'apparition des menus : gestion des delays
    &__load {
        animation: animation-choice ease-in-out $choice-duration backwards;
        @for $i from 1 through $choice-number {
            &--#{$i} {
                animation-delay: $choice-delay * $i;
            }
        }
    }
    // Contient le texte et la div englobant price et check
    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;;
        border-radius: 20px;        
        overflow: hidden;
        box-shadow: 3px 3px 3px $grey-box-shdw;
        background-color: $white;
        &:hover {
            & .choice__check--rollover {
                margin-right: 0rem;
            }
            &  .choice__icon--rollover {
                transform: rotate(2turn);
            }
        }
    }
    // Englobe title et précision
    &__text {
        display: flex;
        flex-direction: column;
        padding: 12px 0px 12px 12px;
        overflow: hidden;
    }
    &__title {
        margin: 0px;
        padding: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__precision {
        margin: 5px 0px 0px;
        padding: 0px;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
            overflow: hidden;
    }
    // Englobe price et check
    &__price-check {
        display: flex;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        padding: 0.8rem 1.3rem;
        font-weight: bold;
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.7rem;
        margin-right: -3.7rem;
        background-color: $tertiary;
        transition: margin-right 500ms ease-in-out;
    }
    &__icon {
        color: white;
        font-size: 1.3rem;
        transform: rotate(0deg);
        transition: transform 500ms ease-in-out;
    }
}
