//*********************************
// Eclaircissement de la couleur 
//*********************************

@function pastel ($clr) {
    $hue: hue($clr);
    $sat: 100%;
    $light: 96%;
    $pastel: hsl($hue, $sat, $light);
    @return $pastel;
}

//*********************************
// Assombrissement de la couleur 
//*********************************  

@function dark ($drk) {
    $hue: hue($drk);
    $sat: 100%;
    $light: 26%;
    $dark: hsl($hue, $sat, $light);
    @return $dark;
}


